{% extends "AppBundle::default.html.twig" %}


{% block header %}
    {{ book.name }}
    <small>{{ book.author }}</small>
{% endblock header %}
{% block body %}
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                В задании ни чего небыло про чтение книг )
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">

            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">

            </div><!-- /.col -->
        </div><!-- /.row -->
{% endblock body %}


{#{% block stylesheets %}#}
    {#{{ parent() }}#}
    {#{% stylesheets 'bundles/app/plugins/datatables/dataTables.bootstrap.css'#}
    {#filter='cssrewrite' %}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
{#{% endblock stylesheets%}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#{% javascripts#}
    {#'@AppBundle/Resources/public/plugins/datatables/jquery.dataTables.min.js'#}
    {#'@AppBundle/Resources/public/plugins/datatables/dataTables.bootstrap.min.js'#}
    {#'@AppBundle/Resources/public/dist/js/demo.js'#}
    {#%}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    {#<script>#}
        {#$(function () {#}
            {#$('#grid_book').DataTable({#}
                {#"columns": [#}
                    {#null,#}
                    {#null,#}
                    {#{ "orderable": false },#}
                    {#{ "orderable": false },#}
                    {#null,#}
                    {#{% if app.user %}#}
                    {#,{ "orderable": false }#}
                    {#{% endif %}#}
                {#]#}
            {#})#}
{#//                    можно сделать и ajax загрузку и lazy loading, но долго. Хотя, я думаю, мало кто прочитает это ))))#}
{#//                    {#}
{#//                        "processing": true,#}
{#//                        "serverSide": true,#}
{#//                        "ajax": "scripts/server_processing.php"#}
{#//                    }#}
{#//            );#}
        {#});#}
    {#</script>#}
{#{% endblock javascripts %}#}